---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Paritosh Pundir">
    <main>
        <header class="main-header">
          <span class="logo">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="25" height="25" fill="#232323"/>
            </svg>

            <span class="logo-tag">Believe</span>
          </span>
        </header>

        <section class="name-wrapper">
            <h1 class="name">
                <svg width="811.578" xmlns="http://www.w3.org/2000/svg" height="53.87"
                     viewBox="-577.269 1371.75 811.578 53.87" fill="none">
                    <path d="M-577.269 1371.75h30.196c3.929 0 7.338.18 10.227.55 2.889.35 5.351.86 7.385 1.53 2.033.67 3.686 1.49 4.957 2.46 1.294.97 2.3 2.06 3.016 3.26.74 1.2 1.237 2.52 1.491 3.95.277 1.44.416 2.96.416 4.58 0 1.66-.162 3.22-.485 4.68a11.08 11.08 0 0 1-1.699 4.02c-.832 1.2-1.988 2.29-3.467 3.26-1.456.97-3.34 1.79-5.651 2.46-2.288.65-5.061 1.16-8.32 1.53-3.236.34-7.049.52-11.441.52v4.54l4.438.86V1425h-31.063v-15.05l4.438-.86v-21.43l-4.438-.86v-15.05Zm26.625 23.26c1.341 0 2.554-.07 3.641-.21 1.109-.13 2.045-.42 2.808-.86.785-.46 1.386-1.12 1.802-1.98.416-.85.624-2.01.624-3.47 0-1.41-.208-2.53-.624-3.36-.416-.85-1.017-1.5-1.802-1.94-.763-.44-1.699-.73-2.808-.87-1.087-.13-2.3-.2-3.641-.2v12.89Zm65.246 29.99-1.734-8.22h-13.624l-1.734 8.22h-18.547v-16.09l4.021-.79 9.603-31.93h26.903l9.672 31.93 3.987.79V1425h-18.547Zm-13.244-19.17h9.395l-4.714-19.17-4.681 19.17Zm91.177 19.17h-20.731a250.63 250.63 0 0 1-2.011-3.81 83.924 83.924 0 0 1-3.848-8.84 47.318 47.318 0 0 1-1.422-4.86h-1.144V1425h-25.03v-13.83l4.16-.8v-19.73l-4.16-.79v-13.66h28.393c3.767 0 7.015.16 9.742.48 2.75.33 5.073.8 6.968 1.42 1.918.63 3.467 1.39 4.646 2.29 1.178.88 2.091 1.89 2.738 3.02a10.446 10.446 0 0 1 1.352 3.67c.232 1.34.347 2.77.347 4.27 0 1.52-.15 2.91-.451 4.16a9.334 9.334 0 0 1-1.525 3.43c-.74 1.04-1.756 2-3.051 2.88-1.271.85-2.9 1.66-4.888 2.42.416.84 1.029 1.83 1.838 2.99.832 1.13 1.733 2.29 2.704 3.5.97 1.18 1.929 2.32 2.877 3.43a523.57 523.57 0 0 0 2.496 2.84v8.01Zm-29.156-26.9c1.272 0 2.416-.06 3.433-.18 1.04-.13 1.918-.41 2.634-.83.74-.44 1.306-1.07 1.699-1.9.393-.84.589-1.96.589-3.37 0-1.38-.196-2.49-.589-3.33-.393-.83-.959-1.46-1.699-1.9-.716-.46-1.594-.76-2.634-.9a25.346 25.346 0 0 0-3.433-.21v12.62Zm35.015-21.91h29.19v13.66l-4.16.79v19.73l4.16.8V1425h-29.19v-13.83l4.16-.8v-19.73l-4.16-.79v-13.66Zm47.148 12.89c-1.201 0-2.264.17-3.189.49-.924.32-1.699.73-2.323 1.21-.624.49-1.098 1.02-1.421 1.6-.324.55-.485 1.07-.485 1.56h-5.79v-17.75h47.287v17.75h-5.789c0-.49-.162-1.01-.486-1.56-.323-.58-.797-1.11-1.421-1.6-.624-.48-1.398-.89-2.323-1.21-.924-.32-1.988-.49-3.189-.49v21.29l4.16.8V1425h-29.191v-13.83l4.16-.8v-21.29Zm66.702 36.54c-4.068 0-7.882-.42-11.441-1.28-3.536-.88-6.621-2.37-9.256-4.47-2.612-2.13-4.68-4.83-6.206-8.11-1.502-3.29-2.253-7.23-2.253-11.82 0-4.51.751-8.35 2.253-11.51 1.526-3.19 3.606-5.78 6.241-7.77 2.634-2.01 5.72-3.48 9.256-4.4 3.536-.93 7.338-1.39 11.406-1.39 4.044 0 7.835.46 11.371 1.39 3.559.92 6.656 2.39 9.291 4.4 2.658 1.99 4.749 4.58 6.275 7.77 1.525 3.16 2.288 7 2.288 11.51 0 3.05-.347 5.82-1.04 8.32-.694 2.47-1.676 4.68-2.947 6.62a20.738 20.738 0 0 1-4.542 4.99c-1.756 1.39-3.721 2.54-5.893 3.47-2.173.9-4.507 1.5-7.003 1.8-2.496.32-5.096.48-7.8.48Zm0-35.98c-1.364 0-2.52.17-3.467.52-.925.35-1.699.8-2.323 1.35a6.351 6.351 0 0 0-1.421 1.91 9.483 9.483 0 0 0-.763 2.22 18.18 18.18 0 0 0-.277 2.21c-.023.72-.035 1.36-.035 1.91 0 .53.012 1.17.035 1.91.023.71.104 1.48.242 2.29.139.78.37 1.57.694 2.35.323.79.786 1.49 1.386 2.12.624.62 1.41 1.13 2.358 1.52.971.37 2.161.56 3.571.56 1.386 0 2.554-.19 3.501-.56.971-.37 1.757-.85 2.358-1.45a7.182 7.182 0 0 0 1.456-2.08 9.79 9.79 0 0 0 .728-2.29c.161-.79.254-1.55.277-2.29.046-.74.069-1.37.069-1.9 0-.56-.023-1.2-.069-1.91-.023-.74-.116-1.49-.277-2.26a8.542 8.542 0 0 0-.728-2.21 6.392 6.392 0 0 0-1.456-1.98c-.601-.58-1.387-1.04-2.358-1.39-.947-.37-2.115-.55-3.501-.55Zm77.136 20c0 2.15-.312 4.06-.936 5.72-.601 1.64-1.433 3.08-2.496 4.3a13.761 13.761 0 0 1-3.744 3.02 23.234 23.234 0 0 1-4.646 1.97c-1.664.49-3.409.77-5.235.84-1.802.09-3.605.13-5.408.13-2.496 0-4.749-.05-6.76-.17-2.011-.11-3.814-.37-5.408-.76a38.04 38.04 0 0 1-4.195-1.28 42.738 42.738 0 0 1-3.19-1.43v-12.03h9.811c.971 1.53 2.08 2.65 3.328 3.37 1.249.71 2.531 1.07 3.849 1.07.393 0 .832-.03 1.317-.1s.936-.29 1.352-.66c.416-.37.763-.94 1.04-1.7.301-.79.451-1.88.451-3.29-1.872-.17-3.733-.4-5.582-.7a41.411 41.411 0 0 1-5.269-1.28 24.556 24.556 0 0 1-4.646-2.01 15.962 15.962 0 0 1-3.744-2.98c-1.04-1.18-1.86-2.56-2.461-4.13-.601-1.59-.902-3.42-.902-5.47 0-2.36.301-4.42.902-6.18.601-1.78 1.421-3.3 2.461-4.57a13.91 13.91 0 0 1 3.675-3.16 20.84 20.84 0 0 1 4.611-1.97c1.641-.49 3.351-.82 5.131-1.01 1.779-.21 3.559-.31 5.338-.31 2.52 0 4.773.13 6.761.38 2.01.26 3.802.58 5.373.97 1.595.4 2.993.83 4.195 1.32 1.225.46 2.311.91 3.259 1.35v12.14h-10.505c-.878-1.67-1.883-2.88-3.016-3.64-1.132-.77-2.288-1.15-3.466-1.15-.393 0-.844.07-1.353.21-.508.11-.982.39-1.421.83-.439.44-.809 1.09-1.109 1.94-.301.86-.451 2.01-.451 3.47 3.813.14 7.153.54 10.019 1.21 2.889.67 5.304 1.68 7.246 3.02 1.941 1.32 3.397 3.03 4.368 5.13.971 2.08 1.456 4.61 1.456 7.59Zm5.616-33.45h29.191v13.73l-4.161.79v5.72h16.676v-5.72l-4.16-.79v-13.91h29.19v13.91l-4.16.79v19.66l4.16.8V1425h-29.19v-13.83l4.16-.8v-5.79h-16.676v5.79l4.161.8V1425h-29.191v-13.83l4.16-.8v-19.66l-4.16-.79v-13.73Zm95.337-4.44h30.196c3.929 0 7.338.18 10.227.55 2.889.35 5.35.86 7.384 1.53 2.034.67 3.686 1.49 4.958 2.46 1.294.97 2.299 2.06 3.016 3.26.739 1.2 1.236 2.52 1.49 3.95.278 1.44.417 2.96.417 4.58 0 1.66-.162 3.22-.486 4.68-.3 1.45-.867 2.8-1.699 4.02-.832 1.2-1.987 2.29-3.466 3.26-1.456.97-3.34 1.79-5.651 2.46-2.288.65-5.062 1.16-8.321 1.53-3.235.34-7.049.52-11.44.52v4.54l4.438.86V1425h-31.063v-15.05l4.438-.86v-21.43l-4.438-.86v-15.05Zm26.625 23.26c1.341 0 2.554-.07 3.64-.21 1.11-.13 2.046-.42 2.808-.86.786-.46 1.387-1.12 1.803-1.98.416-.85.624-2.01.624-3.47 0-1.41-.208-2.53-.624-3.36-.416-.85-1.017-1.5-1.803-1.94-.762-.44-1.698-.73-2.808-.87-1.086-.13-2.299-.2-3.64-.2v12.89Zm89.235-4.37c-.023.7-.034 1.38-.034 2.05v7.25c0 4.62-.636 8.58-1.907 11.89-1.271 3.28-2.993 5.97-5.166 8.07-2.172 2.11-4.726 3.59-7.661 4.44-2.912.86-6.009 1.28-9.291 1.28-3.791 0-7.338-.42-10.643-1.28-3.282-.85-6.148-2.33-8.598-4.44-2.427-2.12-4.345-4.83-5.755-8.11-1.387-3.28-2.08-7.23-2.08-11.85v-9.3l-4.16-.79v-13.66h27.076v13.66l-4.161.79V1398.03c.024.48.035.91.035 1.28v.69c0 .54.012 1.16.035 1.88.023.69.115 1.42.277 2.18.162.74.405 1.48.728 2.22.347.72.821 1.36 1.422 1.94.624.58 1.398 1.05 2.322 1.42.948.35 2.115.52 3.502.52 1.387 0 2.554-.17 3.501-.52.971-.37 1.757-.84 2.358-1.42a6.756 6.756 0 0 0 1.456-2.01c.346-.74.589-1.48.728-2.22.162-.76.254-1.49.277-2.18.046-.72.069-1.34.069-1.87v-.77c0-.37-.011-.78-.034-1.25V1390.64l-4.16-.79v-13.66h24.059v13.66l-4.195.79Zm26.279 8.74v10.99l4.195.76V1425H15.796v-13.83l4.161-.8v-19.73l-4.161-.79v-13.66h25.031l16.675 26.31v-11.79l-4.16-.86v-13.66h20.835v13.66l-4.16.79v19.73l4.16.8V1425h-25.03l-16.675-25.62Zm86.288-23.19c3.143.67 5.975 1.62 8.494 2.84 2.519 1.23 4.657 2.8 6.413 4.72 1.78 1.89 3.144 4.18 4.091 6.86.948 2.66 1.422 5.77 1.422 9.33 0 3.12-.37 5.91-1.11 8.38-.716 2.45-1.756 4.62-3.12 6.49a18.803 18.803 0 0 1-4.957 4.71c-1.965 1.3-4.184 2.35-6.657 3.16-2.449.81-5.154 1.4-8.112 1.77-2.935.37-6.067.55-9.395.55h-25.03v-13.83l4.16-.8v-20.9l-4.16-.8v-12.48h37.961Zm-9.741 34.18c1.548 0 2.854-.12 3.917-.35 1.063-.23 1.93-.55 2.6-.97.693-.41 1.225-.93 1.595-1.56.393-.62.67-1.31.832-2.08.185-.76.289-1.6.312-2.53.023-.92.035-1.9.035-2.94s-.012-2.03-.035-2.95a11.94 11.94 0 0 0-.312-2.53c-.162-.79-.439-1.48-.832-2.08-.37-.63-.902-1.15-1.595-1.56-.67-.44-1.537-.78-2.6-1.01-1.063-.23-2.369-.34-3.917-.34h-3.19v20.9h3.19Zm35.188-34.18h29.19v13.66l-4.16.79v19.73l4.16.8V1425h-29.19v-13.83l4.16-.8v-19.73l-4.16-.79v-13.66Zm90.102 48.81h-20.732c-.647-1.2-1.317-2.47-2.011-3.81a83.924 83.924 0 0 1-3.848-8.84 47.567 47.567 0 0 1-1.421-4.86h-1.144V1425h-25.03v-13.83l4.16-.8v-19.73l-4.16-.79v-13.66h28.393c3.767 0 7.014.16 9.741.48 2.751.33 5.073.8 6.969 1.42 1.918.63 3.466 1.39 4.645 2.29 1.179.88 2.092 1.89 2.739 3.02.67 1.11 1.121 2.33 1.352 3.67.231 1.34.347 2.77.347 4.27 0 1.52-.151 2.91-.451 4.16a9.35 9.35 0 0 1-1.525 3.43c-.74 1.04-1.757 2-3.051 2.88-1.271.85-2.901 1.66-4.888 2.42.416.84 1.028 1.83 1.837 2.99.832 1.13 1.733 2.29 2.704 3.5.971 1.18 1.93 2.32 2.877 3.43.971 1.11 1.803 2.06 2.497 2.84v8.01Zm-29.156-26.9c1.271 0 2.415-.06 3.432-.18 1.04-.13 1.918-.41 2.635-.83.739-.44 1.306-1.07 1.698-1.9.393-.84.59-1.96.59-3.37 0-1.38-.197-2.49-.59-3.33-.392-.83-.959-1.46-1.698-1.9-.717-.46-1.595-.76-2.635-.9a25.34 25.34 0 0 0-3.432-.21v12.62Z"
                          style="fill: rgb(0, 0, 0);" class="fills" data-testid="svg-path"/>
                </svg>
                <span class="name-hidden">Paritosh Pundir</span>

            </h1>
            <p class="tag-line">Helping small businesses and startups solve problems through <span>pixels</span>.
            </p>
        </section>
    </main>
</Layout>

<style>
    .main-header {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    /* Rotate the logo 90 deg on hover */
    .logo {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
    }

    .logo svg {
        transition: transform 0.5s;
        z-index: 1;
        position: relative;
    }

    .logo:hover {
        width: 150px;
    }

    .logo:hover svg {
        transform: rotate(90deg);
        animation: changeColor 3s infinite ease-in-out;
    }

    .logo-tag {
        position: absolute;
        left: 0;
        top: 0;
        text-transform: uppercase;
        transition: left 0.4s, letter-spacing 0.6s;
        line-height: 25px;
        letter-spacing: -8px;
    }

    .logo:hover .logo-tag {
        letter-spacing: 2px;
        left: 34px;
    }

    .name-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: calc(100vh - 100px);
        padding: 0 4rem;
    }

    .name {
        position: relative;
        margin: 0;
    }

    .name svg {
        width: 100%;
        height: auto;
    }

    .name:after {
        content: '';
        position: absolute;
        bottom: 6px;
        right: -16px;
        width: 8px;
        height: 8px;
        background-color: var(--color-red);
    }

    .name:hover.name:after {
        animation: changeColor 3s infinite linear;
    }

    /* for SEO purposes */
    .name-hidden {
        display: none;
    }

    /* keyframe animation to change the background from red to green to blue */
    @keyframes changeColor {
        0% {
            background-color: var(--color-red);
            box-shadow: 2px 2px 15px -3px var(--color-red);
        }
        45% {
            background-color: var(--color-green);
            box-shadow: 2px 2px 15px -3px var(--color-green);
        }
        75% {
            background-color: var(--color-blue);
            box-shadow: 2px 2px 15px -3px var(--color-blue);
        }
        100% {
            background-color: var(--color-red);
            box-shadow: 2px 2px 15px -3px var(--color-red);
        }
    }

    .tag-line {
    }

    .tag-line span {
        color: var(--color-red);
    }

</style>
